{
    "mysql":{
        "host":"localhost",
        "user":"root",
        "passwd":"my secret password",
        "db":"database name"
    },
    'twilio': {
        'sid': 'XXXXXXX',
        'secreet': 'XXXXXXXX',
        'from_': 'XXXXXXXXXXX'
        'send-to': '077121231234'
    },
    'plants': {
 	{
	    'gpio-channel': 14,
	    'plant-name': 'Plant one'
        },
	{
            'gpio-channel': 15,
            'plant-name': 'Plant two'
        },
    }
}
